
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Noto Sans;
    font-size: 16px;
    transition: scroll-behavior 0.5s ease-in-out;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: purple;
    padding: 10px;
    align-content: center;
}
#checkbtn i{
    color: black;
    font-size: 30px;
    margin: 5px;
    cursor: pointer;
}
#checkbtn #hide{
    display: none;
}
nav img{
    width: 40px;
    height: 50px;
    margin-top: -10px;
}
.dropdown{
    display: none;
    z-index: 1000;
    width: 100%;
}
.dropdown ul{
    padding: 10px;
    background-color: purple;
    border-radius: 5px;
}
.dropdown ul li{
    display:block;
    height: 27px;
    margin: 0 5px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}
.dropdown ul li i{
    color: whitesmoke;
    font-size: smaller;
}
.dropdown ul li a{
    color: white;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration:none;
}
.dropdown ul li a.active,.dropdown ul li a:hover{
    background: rgba(194, 171, 171, 0.315);
    color: #f7f7f7;
    font-weight: bold;
    padding: 3px;
    border-radius: 20px;
    transition: 0.5s;
}
header{
    background: url(../Img/background\ \(1\).jpg);
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 10px;
    padding-top: 30px;
    color: black;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.login{
    margin: 20px;
    cursor: pointer;
}
a button{
    border-radius: 20px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
a button:hover{
    font-size: 15px;
    font-weight: bolder;
    background-color: red;
    color: #f4f4f4;

}
article{
    width: 100%;
    padding: 10px;
    display:inline-block;
    height: auto;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.security i{
    position: relative;
    right: 0;
}
#login,#signup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out,transform 0.3s ease-in-out;
    font-size: smaller;
}
#login form h1,#login form h3,#signup form h1,#signup form h3{
    text-align: center;
    font-size: small;
    padding: 5px 0 5px 0;
}
.sign-in,.sign-up{
    margin-top: 10px;
}
.sign-up input{
    width: 100%;
}
.sign-in a button,.sign-up a button{
    position: relative;
    right: 0;
    bottom: 0px;
    border-radius: 5px;
    font-size: 10px;
    font-weight:bold;
    background-color: green;
}
.sign-in a button:hover{
    background-color: red;
}
.sign-up a button:hover{
    background-color: red;
}
#login #hide,#signup #hide{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    cursor: pointer;
}
.hidden{
    opacity: 100%;
    pointer-events: visible;
}
#forget{
    float: right;
    text-decoration: none;
    color: blue;
    font-size: 12px;
    padding-top: 5px;
}
#forget:hover{
    font-size: 12px;
    color: red;
    font-weight: bold;
}
#newaccount{
    font-size: 11px;
    padding-top: 5px;
}
#newaccount a{
    color: blue;
    text-decoration: none;
}
#newaccount a:hover{
    color: red;
}
.connect{
    display: flex;
    justify-content: space-around;
}
.soc button{
    width: 70px;
    height: 20px;
    border-radius: 10px;
}
.soc button:hover{
    background-color: green;
    width: 72px;
}
.soc button i{
    color: black;
}
.agreement{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    align-items: center;
}
.agreement input{
    width: 12px;
}
.Automated{
    width: auto;
    height: auto;
    display: flex;
    font-size: 15px;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 30px;
}
.side h3{
    font-size: 17px;
    margin-bottom: 5px;
} 

/*Section page*/

section{
    margin-top: 20px;
    display: inline-block;
    font-size: 13px;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding:0px 10px 0px 10px;
}
#about_us{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
#sub_head{
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}
.advantages{
    list-style-image: url(../Img/images.jpeg);
    margin: 0px 0px 20px 20px;
}
#reseller{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
#get_started{
    background-color: purple;
    color: #ccc;
    font-size: 15px;
    position: relative;
    left: 30%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}
#get_started:hover{
    font-weight: bold;
    background-color: red;
}
section img{
    width:80px;
    height: 80px;
    margin-right: 5px;
    border-radius: 50%;
}
.bulk{
    display: flex;
    width: 95%;
    padding: 5px;
    height: auto;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 50px;
}
.message h3{
    font-size: 17px;
}
.message a button{
    font-size: 8px;
    margin-left: 40px;
}
.message a button:hover{
    font-size: 10px;
}
.plans{
    width: 100%;
    text-align: center;
    font-size: 13px;
}
.pricing{
    width: 75%;
    height: auto;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
    margin:20px 30px 0px 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    
}
.pricing a button{
    font-size: 12px;
    margin: 5px;
}
.MTN{
    width: 100%;
    height: 50px;
    background-color: yellow;
    color: black;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    padding-top: -10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.zain{
    width: 100%;
    height: 50px;
    background-color: rgb(53, 177, 15);
    color: black;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    padding-top: -5px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.Airtel{
    width: 100%;
    height: 50px;
    background-color: rgb(228, 6, 6);
    color: black;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    padding-top: -10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.Glo{
    width: 100%;
    height: 50px;
    background-color: rgb(12, 97, 1);
    color: black;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    padding-top: -10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.FAQ{
    text-align: center;
    margin-top: 10px;
}
.question{
    text-align: center;
    width: 100%;
    font-size: 17px;
    margin-top: 15px;
    padding:0 20px 0 20px;
}
.question p{
    font-size: 13px;
}
.question a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: orangered;
}
.question a:hover{
    font-size: 16px;
    color: blue;
    transition: 0.5s;
}
.questions{
    display: inline-block;
    justify-content: space-around;
    width: 100%;
    padding:0 20px 0 20px;
}
.ques{
    width: 100%;
    height: auto;
    font-size: 13px;
    margin-top: 20px;
}
.ques h3{
    font-size: 17px;
    font-weight: bolder;
    padding-bottom: 5px;
}
.ques p{
    padding:0 10px 0 10px;
}
.partner{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.partner img{
    width: 250px;
    border-radius: 40px;
}
.contact{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin-top: 35px;
} 
.contact h3{
    font-size: 20px;
}
.option{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.whatapp a button{
    width:150px;
    height: 50px;
    font-size: 12px;
}
.whatapp a button i{
    padding: 5px;
}
.whatapp a button:hover{
    width:150px;
    height: 60px;
    font-size: 12px;
}
.forms{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin-top: 25px;
    padding: 10px;
}
.form{
    display: block;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
input{
    border-radius: 20px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    width: 200px;
}
textarea{
    margin: 10px 0px 10px 0px;
    border: 1px solid grey;
}
.form a button{
    font-size: 10px;
}
footer{
    background: url(../Img/flow.jpeg);
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: justify;
    justify-content: space-around;
    font-size: 10px;
    padding-top: 30px;
    color: black;
    display: flex;
    padding-top: 30px;
}
.footer_decription{
list-style-type: none;
line-height: 15px;
}
.services h3{
    font-size: 14px;
    padding-bottom: 15px;
}
#customer_image{
    width: 300px; 
    height:200px;
    border-radius: 0px; 
    margin: 20px 50px 20px 50px;
} 
.laptop_navbar{
    display: none;
}
.sidebar{
    display: none;
}
@media only screen and (min-width:768px) and (max-width:1114px) {
    html,body{
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        transition: 500ms;
    }
   .col-3{ width: 70%;}
   .sidebar{
    display: block;
    float: right;
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f3f0f0;
    padding: 5px;
   }

   .header-sidebar{
    display: inline-flex;
   }
   .header-sidebar i{
    position: absolute;
    top: 15px;
    left: 20px;
   }
   .header-sidebar input{
    padding-left: 30px;
    width: 90%;
   }
   .header-sidebar button{
    width: 25%;
    font-size: 18px;
   }
   #big_screeb_log,#reg_log{
    display: none;
   }
   .sign_in_form{
    width: 100%;
   }
   .sign_in_form h1{
    text-align: center;
   }
   .sign_in_form h3{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
   }
   .big_screen_security i{
    position: relative;
    right:-180px;
    top:-30px;
   }
   #bigscreen-signup{
    display: none;
   }
   .social-media{
    margin-top: 15px;
   }
   .big_screen_registration_security i{
    position:relative ;
    right: -200px;
    top: -30px;
   }

}


@media only screen and (min-width:1280px) and (max-width:2048px){
    html,body{
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        transition: 1000ms;
    }
   .col-3{ width: 80%;}
   .sidebar{
    display: block;
    float: right;
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f3f0f0;
    padding: 5px;
   }
   .laptop_navbar{
    display: flex;
    width: 100%;
    padding-left: 70px;
    padding-right: 20px;
   }
   .laptop_navbar_list{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
   }
   .laptop_navbar_list li a{
    text-decoration: none;
    color: rgb(201, 198, 198);
    font-size: 18px;
   }
   .laptop_navbar_list li a:hover{
    color: #f3f0f0;
    font-size: 20px;
    transition: 500ms;
   }
   #checkbtn{
    display: none;
   }

   .header-sidebar{
    display: inline-flex;
   }
   .header-sidebar i{
    position: absolute;
    top: 15px;
    left: 20px;
   }
   .header-sidebar input{
    padding-left: 30px;
    width: 90%;
   }
   .header-sidebar button{
    width: 25%;
    font-size: 18px;
   }
   #big_screeb_log,#reg_log{
    display: none;
   }
   .sign_in_form{
    width: 100%;
   }
   .sign_in_form h1{
    text-align: center;
   }
   .sign_in_form h3{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
   }
   .big_screen_security i{
    position: relative;
    right:-180px;
    top:-30px;
   }
   #bigscreen-signup{
    display: none;
   }
   .social-media{
    margin-top: 15px;
   }
   .big_screen_registration_security i{
    position:relative ;
    right: -200px;
    top: -30px;
   }
   .banner{
    display: inline-flex;
    padding-left: 50px;
   }
   .bulk{
    width: 60%;
   }
   #data_bundle{
    position: relative;
    top: -80px;
    left: -50px;
   }
   #customer_image{
    margin: 20px 150px 20px 50px;
   }
   .price_list{
    display: inline-flex;
    margin: 50px;
   }
   .pricing{
    width: 150px;
   }
   #buy_button{
    display: none;
   }
   .question{
    display: inline-flex;
   }
   .ques{
    width: 80%;
   }
   .partner,.contact h3,.forms{
    font-size: 30px;
   }
   .partner img{
    width: 50%;
   }
   .option a button{
    font-size: 25px;
    width: fit-content;
   }
   .form{
    padding: 10px 20px 10px 50px;
   }
   .form input,textarea{
    width: 70%;
   }
   .form a button{
    font-size: 20px;
   }
   footer{
    font-size: larger;
   }
}